@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./post.css');
@import url('./toc.css');

@theme {
  --color-mikxc-primary-50: #bbadd2;
  --color-mikxc-primary-100: #b0a2c9;
  --color-mikxc-primary-200: #9c8cb8;
  --color-mikxc-primary-300: #8976a7;
  --color-mikxc-primary-400: #756293;
  --color-mikxc-primary-500: #5f5077;
  --color-mikxc-primary-600: #4a3f5c;
  --color-mikxc-primary-700: #372f44;
  --color-mikxc-primary-800: #251f2e;
  --color-mikxc-primary-900: #130f18;
  --color-mikxc-primary-950: #050407;
}
@layer base {
  /* body {
    background-color: var(--colors-loContrast);
    font-family: Yu Gothic, yugothic, ヒラギノ角ゴ ProN, Hiragino Kaku Gothic ProN,
      メイリオ, meiryo, sans-serif;
  } */
}

@layer components {
  .bg-global {
    @apply bg-neutral-50 dark:bg-neutral-900;
  }
  .bg-primary-1 {
    @apply bg-white dark:bg-neutral-800;
  }
  .text-primary-1 {
    @apply text-neutral-800 dark:text-white;
  }
  .text-accent-1 {
    @apply text-teal-800 dark:text-teal-400;
  }
  .button {
    @apply gap-2 px-4 py-3 text-base font-normal text-white bg-teal-700 rounded-lg center;
  }
  .icon-btn {
    @apply p-3 text-primary-1;
  }
  .badge {
    @apply flex items-center px-3 py-1 text-xs font-bold text-white bg-black select-none;
  }

  /* SVG Icon Color Control */
  .svg-icon {
    filter: brightness(0) saturate(100%) invert(47%) sepia(12%) saturate(1234%)
      hue-rotate(226deg) brightness(88%) contrast(88%);
  }

  .svg-icon-hover {
    filter: brightness(0) saturate(100%) invert(66%) sepia(11%) saturate(926%)
      hue-rotate(226deg) brightness(95%) contrast(89%);
  }
}

@layer utilities {
  .vstack {
    @apply flex flex-col;
  }
  .hstack {
    @apply flex items-center;
  }
  .wrap {
    @apply flex-wrap hstack;
  }
  .center {
    @apply flex items-center justify-center;
  }
}
