.toc-list {
  @apply flex flex-col gap-[6px];
}

.toc-list .toc-list {
  @apply flex flex-col gap-[6px] pl-[20px] mt-[6px];
}

.toc-link {
  @apply text-[17px] text-mikxc-secondary-600 dark:text-mikxc-secondary-500 tracking-[-0.7px] hover:text-mikxc-secondary-500 dark:hover:text-mikxc-secondary-300 flex items-center gap-[11px];
  word-break: break-word;
  overflow-wrap: break-word;
}

.toc-link::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid;
  @apply border-mikxc-secondary-600 dark:border-mikxc-secondary-500;
  flex-shrink: 0;
}

.toc-list .toc-list .toc-link {
  @apply text-[17px] tracking-[-0.6px] gap-[7px];
}

.toc-list .toc-list .toc-link::before {
  width: 12px;
  height: 12px;
  @apply bg-mikxc-secondary-600 dark:bg-mikxc-secondary-500;
  border: none;
}

.is-active-link {
  @apply text-mikxc-secondary-400 dark:text-mikxc-secondary-200;
}

.is-active-link::before {
  @apply border-mikxc-secondary-400 dark:border-mikxc-secondary-200;
}

.toc-list .toc-list .is-active-link::before {
  @apply bg-mikxc-secondary-400 dark:bg-mikxc-secondary-200;
}
